<div style="background-color: #3177cc;height: 50px;color: white;justify-content: center;
align-items: flex-end;display: flex;">
    <p><b>&copy;Your Eyes - Lựa chọn cho đôi mắt © 2024. </b></p> 
   
</div>